body {
    background-color: rgb(28, 31, 32);
}

#imagem {
    border-radius: 50%;
    text-align: center;
}

#nome {
    font-size: 187.5%;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
}

#bloco {
    border: 2px solid #000000;
    border-radius: 57px;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 30%;
    margin-left: 30%;
}

#nomeCurso {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    word-break: keep-all;
    margin-left: 5%;
    margin-right: 5%;
}

#ch {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: gray;
    font-style: italic;
}

@media print {
    #notprint {
        visibility: hidden;
    }
}

#bots {
    text-align: center;
}

#btnadd {
    height: 32px;
    padding-left: 36px;
    padding-right: 10px;
    background: #ff9900 url("http://placehold.it/16x16") no-repeat 10px center;
}

#b1 {
    /* background-color: rgb(10, 102, 194); */
    /**/
    background: rgb(255, 255, 255) url("icon-btn/logotipo-linkedin.png") no-repeat 10px center;
    height: 32px;
    padding-left: 36px;
    padding-right: 10px;
    /**/
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    /* padding: 1% 1% */
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#b2 {
    /* background-color: rgb(240, 246, 252); */
    /**/
    background: rgb(255, 255, 255) url("icon-btn/logotipo-github.png") no-repeat 10px center;
    height: 32px;
    padding-left: 36px;
    padding-right: 10px;
    /**/
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    /* padding: 1% 1% */
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#b3 {
    /* background-color: rgb(217, 48, 37); */
    /**/
    background: rgb(255, 255, 255) url("icon-btn/logotipo-gmail.png") no-repeat 10px center;
    height: 32px;
    padding-left: 36px;
    padding-right: 10px;
    /**/
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    /* padding: 1% 1% */
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#b1:hover {
    opacity: 1
}

#b2:hover {
    opacity: 1
}

#b3:hover {
    opacity: 1
}